<h1>Products List:</h1>
<%= link_to 'New Product', new_product_path, class: 'btn btn-primary' %>
<table class="table">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Created At</th>
    <th></th>
  </thead>
  <tbody>
    <% @products.each do |p| %>
      <tr>
        <td><%= p.id %></td>
        <td><%= p.name %></td>
        <td><%= p.description %></td>
        <td><%= number_to_currency(p.price) %></td>
        <td><%= p.created_at %></td>
        <td>
          <%= link_to 'Details', product_path(p), class: 'btn btn-sm btn-default' %>
          <%= link_to 'Edit', edit_product_path(p), class: 'btn btn-sm btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
